<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="icon" href="./img/library-logo.svg" type="img/svg+xml">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <title>Online Library</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href="#">Library</a>
          
            <!-- Dropdown Menu for "Browse" -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="browseDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse
                </button>
                <div class="dropdown-menu" aria-labelledby="browseDropdown">
                    <a class="dropdown-item" href="/browse/books">Books</a>
                    <a class="dropdown-item" href="/browse/journals">Journals</a>
                    <a class="dropdown-item" href="/browse/magazines">Magazines</a>
                </div>
            </div>
          
            <form class="mx-auto my-2 my-lg-0" action="/search" method="get">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </nav>

    <!-- Your existing HTML structure -->

<main class="library-content">
    <h2>Add a Book</h2>
    <form action="/addBook" method="post" class="centered-form">
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" id="author" name="author" required>
        </div>

        <div class="form-group">
            <label for="image">Image Location:</label>
            <input type="text" class="form-control" id="image" name="image" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label for="dateAdded">Date Added:</label>
            <input type="date" class="form-control" id="dateAdded" name="dateAdded" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
</main>



</body>
</html>
